//COLORS

//PRIMARY
$gray-darkest: #1d2126;
$gray-dark: #292f36;
$gray-dark2: #3a454d;
$gray: #a4aead;
$gray2: #8d8f92;
$gray3: #4e5a62;
$gray-light: #ccd0d7;
$gray-light2: #c8cdd0;
$gray-light3: #d0d5d9;
$gray-light4: #dde1e4;
$gray-light5: #dcdfe1;
$gray-light6: #eaeef1;
$gray-lightest: #e1e6ea;

//SECONDARY
$secondary: #23b7a4;

//TERTIARY

$tertiary: #ffffff;
