.hero {
  min-height: 660px;
  background-image: url("../images/pic.png");
  background-position-x: center;
  background-size: cover;
  padding-left: 15px;

  .wrapper {
    position: relative;
  }

  .title {
    margin: 225px 0 30px;
    border: none;
    padding: 0;
  }

  &__text {
    color: $gray-light;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 45px;
  }

  &__buttons {
    display: flex;
  }

  .button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0px;
    }
  }

  .owl-dots {
    display: flex;
    position: absolute;
    right: 380px;
    bottom: -190px;

    @media (max-width: $breakpoint-md) {
      right: 140px;
      bottom: -180px;
    }

    @media (max-width: $breakpoint-sm) {
      right: 75px;
      bottom: -100px;
    }

    .owl-dot {
      display: block;
      width: 10px;
      height: 10px;
      border: 1px solid white;
      border-radius: 50%;
      margin-left: 10px;

      &:first-child {
        margin-left: 0px;
      }

      &.active {
        background-color: white;
      }
    }
  }
}
